
<table class="table table-hover table-condensed" style="margin-bottom:2px">
  <thead>
    <th>
      <input type="checkbox" id="check_all_bills" name="student_bills[]" checked value="{{ bill.bill_item_name.id}}"/>
    </th>
    <th style="width:200px">Item</th>
    <th style="text-align:right">Amount</th>
  </thead>
  <tbody>  
    {% for bill in bills %}
      <tr>
        
        <td><input type="checkbox" id="bill_picker" data-value="{{  bill.bill_item_name.amount }}" checked name="student_bills[]" value="{{ bill.id}}" class="bill_picker"/></td>    
        <td>{{ bill.bill_item_name }}</td>
        <td style="text-align:right">{{  bill.bill_item_name.amount }}</td>
      </tr> 
    {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td style="text-align:right"><h1 style="padding: 0; color: #790000" id="total">{{ total }}</h1></td>
      </tr>
  </tbody>
</table>
<form method="POST" id="transaction_form" action="javascript:transact()">
  {% csrf_token %}
  <input type="number" id="tender" class="input-lg form-control" placeholder="Cash Tendered"/>
  <button id="transact" class="btn btn-success btn-lg" style="width:545px" onclick="javascript:transact()">Transact</button>
</form>
