<div id="full_receipt" style="display:none">
  <div id="receipt">
    <small>
    <div class="col-sm-6 block">
      <div class="head">
        <h4><strong>Philippine Integrated School</strong></h4>
        <h6>Marawi City, Philippines 9700</h6>
        
        <strong>
          <h6>OFFICIAL RECEIPT</h6>
        </strong>
          <h6>Student's Copy</h6>
      </div>
    
    
      <span class="date pull-right"></span><br>
      Payee: <span class="payee_name"></span>
      <table>
        <thead>
          <th style="width:200px">Item</th>
          <th class="pull-right">Amount</th>
        </thead>
        <tbody class="receipt_items" id="receipt_items2">
        </tbody>
      </table>
      <div class="col-sm-6 pull-right">
        <br>
        <br>
        <div style="text-align:center">
          <strong>{{ user.get_full_name }}</strong><br>
          <span class="small">Collecting Officer</span>
        </div>
      </div>
      <p class="small" style="text-align: left" >*Discount applied only to Tuition</p>
    </div>
    <br/>
    <br/>
    <br/>    
    </small>
  </div>

  <div id="receipt">
    <small>
    <div class="col-sm-6 block">
      <div class="head">
        <h4><strong>Philippine Integrated School</strong></h4>
        <h6>Marawi City, Philippines 9700</h6>
        
        <strong>
          <h6>OFFICIAL RECEIPT</h6>
        </strong>
          <h6>Cashier's Copy</h6>
      </div>
    
    
      <span class="date pull-right"></span><br>
      Payee: <span class="payee_name"></span>
      <table>
        <thead>
          <th style="width:200px">Item</th>
          <th class="pull-right">Amount</th>
        </thead>
        <tbody class="receipt_items" id="receipt_items2">
        </tbody>
      </table>
      <div class="col-sm-6 pull-right">
        <br>
        <br>
        <div style="text-align:center">
          <strong>{{ user.get_full_name }}</strong><br>
          <span class="small">Collecting Officer</span>
        </div>
      </div>
      <p class="small" style="text-align: left" >*Discount applied only to Tuition</p>
    </div>
    <br/>
    <br/>
    <br/>    
    </small>
  </div>
</div>