{% extends 'system_base.html' %}

{% block css%}
   <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css">
   <script type="text/javascript" src="/static/js/jQuery/jquery-1.9.1.js"></script>
   <script type="text/javascript" src="/static/js/jQuery/jquery-ui.js"></script>
   <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
{% endblock %}

{% load bootstrap3 %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/input_validator.js"></script>	
	<script type="text/javascript" src="/static/js/registration.js"></script>
	<script type="text/javascript">
	  $(function(){
	  	$("#id_date_admitted").datepicker({
	      dateFormat: 'yy-mm-dd'
	  	});
	  	$("#id_date_of_birth").datepicker({
	      dateFormat: 'yy-mm-dd'
	  	});
	  });
	</script>
{% endblock%}


